<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        th {
            font-weight: bold;
            font-style: italic;
            background-color: #f8f9fa;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-image: linear-gradient(to right, #f8f9fa, #ced4da);
        }

        tbody tr:nth-child(even) {
            background-color: #f8f9fa;
        }

        tbody tr:hover {
            background-color: #e9ecef;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Job Time</th>
                    <th scope="col">Created Date</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object %}
                <tr>
                    <td>{{ obj.start }}</td>
                    <td>{{ obj.end }}</td>
                    <td>{{ obj.job_time }}</td>
                    <td>{{ obj.created_date }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>